:root {
  --eyes: #ffffff;
  --skin: #a6becf;
  --nose: #be845f;
  --pupils: #27354a;
  --inner-ear: #819caf;
  --background: #25a9fc;
}

body {
  background-color: var(--background);
}

#container {
    border: solid;
    width: 400px;
    height: 400px;
    margin: auto;
}

#head {
    position: absolute;
    background-color: var(--skin);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 100px;
    z-index: 7;
}

#outside-left-ear {
    position: absolute;
    background-color: var(--skin);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 110px;
    margin-left: 70px;
    z-index: 1;
}
#inside-left-ear {
    position: absolute;
    background-color: var(--inner-ear);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 120px;
    margin-left: 80px;
    z-index: 2;
}

#outside-right-ear {
    position: absolute;
    background-color: var(--skin);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 110px;
    margin-left: 230px;
    z-index: 1;
}
#inside-right-ear {
    position: absolute;
    background-color: var(--inner-ear);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 120px;
    margin-left: 240px;
    z-index: 2;
}

#right-eye {
    position: absolute;
    background-color: var(--eyes);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 195px;
    z-index: 8;
}

#left-eye {
    position: absolute;
    background-color: var(--eyes);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 145px;
    z-index: 8;
}

#inside-left-eye {
    position: absolute;
    background-color: var(--pupils);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 170px;
    margin-left: 165px;
    z-index: 8;
}
#inside-right-eye {
    position: absolute;
    background-color: var(--pupils);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 170px;
    margin-left: 215px;
    z-index: 8;
}

#top-nose {
    position: absolute;
    background-color: var(--nose);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 190px;
    margin-left: 180px;
    z-index: 9;
}
#mid-nose {
    position: absolute;
    background-color: var(--nose);
    width: 40px;
    height: 40px;
    margin-top: 210px;
    margin-left: 180px;
    z-index: 9;
}

#bottom-nose {
    position: absolute;
    background-color: var(--nose);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 230px;
    margin-left: 180px;
    z-index: 9;
}

#left-hair {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--skin);
    margin-top: 85px;
    margin-left: 170px;
    z-index: 7;
}

#right-hair {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--skin);
    margin-top: 95px;
    margin-left: 210px;
    z-index: 7;
}